* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/************************************************************** TAG ************************************************************** /



/************************************************************** CLASSI **************************************************************/

/******************************* LAYOUT *******************************/

.col-1_N {
    width: calc(100% / N);
}

/******************************* UTILITIES *******************************/

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
